.third-container{
    margin-top: 100px;
  background-color: black;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

}

.thirdText{
    color: white;
    font-size: 35px;
}
.thirdText-sub{
    color: white;
    font-size: 15px;
}